<!--<h1>{{ title }}</h1>-->

<!--<h3>{{ count }}</h3>-->
<!--<button (click)="add()">+</button>-->
<!--<button (click)="minus()">-</button>-->

<!--<div *ngIf="product">-->
<!--  <h2>{{ product.title }}</h2>-->
<!--  <p>{{ product.description }}</p>-->
<!--  <img width="100" height="100" [src]="product.image" />-->
<!--</div>-->
<header>
  <h1>Listes produits</h1>
</header>
<main>
  <div *ngFor="let pd of products; let i = index">
    <!-- {{ i }} -->
    <app-product 
      [title]="pd.title" 
      [description]="pd.description" 
      [price]="pd.price" 
      [image]="pd.image" 
      [category]="pd.category"
      [rate]="pd.rating.rate"
      [count]="pd.rating.count"
    >
    </app-product>
  </div>
</main>
