/* You can add global styles to this file, and also import other style files */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Segoe UI",Arial, Helvetica, sans-serif;
    background-color: #9b9ece;
    color: #1E1E24;
    outline: none;
}